{% extends "admin/base.html" %}

{% block title %}biotak site admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">biotak administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
