{% extends "base.html" %}

{% load i18n %}

{% block content %}

<section id="register-login" class="register-login pt-30 pb-150">
    <div class="container">
        <div class="row">
<div class="col-sm-12 col-md-6 col-lg-6 offset-lg-1 form-accounts">
    <div class="register-title">
        <h4>{% trans 'خروج از حساب کاربری' %}</h4>
    </div>
  
    <p>
        {% trans 'متشکرم که امروز کمی وقت با سایت سپری کردید.' %}
    </p>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-40">
        <a href="{% url 'accounts:log_in' %}"><button class="btn btn--primary btn--rounded">{% trans 'ورود به حساب کاربری ' %}</button></a>
    </div>
  </div>
  <!-- .col-lg-6 end -->
</div>
<!-- .row end -->
</div>
<!-- .container end -->
</section>
<!-- #checkout end -->




{% endblock %}


