{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'ارسال کد فعال سازی' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'بعدی' %}</button>

    </form>

    <hr>

    <ul>
        <li>
            <a href="{% url 'accounts:log_in' %}">{% trans 'ورود' %}</a>
        </li>
    </ul>

{% endblock %}
