{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Restore password' %}</h4>

    {% if validlink %}

        <p>
            {% trans 'لطفاً رمز عبور جدید خود را دو بار وارد کنید تا بتوانیم تأیید کنیم که آن را به درستی تایپ کرده اید.' %}
        </p>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success">{% trans 'تغییر' %}</button>

        </form>

    {% else %}

        <div class="alert alert-danger">
            {% trans 'پیوند بازنشانی گذرواژه نامعتبر بود، احتمالاً به دلیل استفاده قبلاً. لطفاً یک گذرواژه جدید تنظیم مجدد کنید.' %}
        </div>

    {% endif %}

{% endblock %}
