{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <h4>{% trans 'بازیابی رمز عبور' %}</h4>

    <div>
        {% trans "ما در صورت وجود یک حساب کاربری با ایمیلی که وارد کرده اید، برای تنظیم رمز عبور خود به شما ایمیل ارسال کرده ایم." %}
        {% trans 'شما باید آنها را به زودی دریافت کنید.' %}

        <br>

        {% trans "اگر نامه الکترونیکی دریافت نکردید، لطفاً آدرس خود را که با آن وارد شده اید، وارد کنید و پوشه هرزنامه خود را بررسی کنید." %}
    </div>

{% endblock %}
