{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<section id="register-login" class="register-login pt-30 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 form-accounts">
                <div class="register-title">
                    <h4>{% trans 'بازیابی رمز عبور' %}</h4>
                </div> 

                <form method="post">

                    {% csrf_token %}
                    {% bootstrap_form form %}
            
                    <button type="submit" class="btn btn--primary btn--rounded">{% trans 'ثبت' %}</button>
            
                </form>
            
                <hr>
            
                <ul>
                    <li>
                        <a href="{% url 'accounts:log_in' %}">{% trans '  ورود به حساب کاربری'  %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
    </section>
    <!-- #checkout end -->
{% endblock %}
