{% extends 'base.html' %}
{% load static %}


{% block title %} 
<title>بیومگ</title>
{% endblock title %}
    
{% block content %}

<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title mt-0">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="title title-1 text-center">
                  <div class="title--content">
                      <div class="title--heading">
                          <h1>بیومگ</h1>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                  <ol class="breadcrumb breadcrumb-bottom">
                      <li><a href="index-2.html">صفحه اصلی</a></li>
                      <li class="active">بیومگ</li>
                  </ol>
              </div><!-- .title end -->
          </div><!-- .col-md-12 end -->
      </div><!-- .row end -->
  </div><!-- .container end -->
</section><!-- #page-title end -->

<!-- Blog grid 
=========================================-->
<section id="blog" class="blog blog-grid-2 pt-0">
  <div class="container">
      <div class="row">
        {% for post in queryset %}
          <!-- Blog Entry #1 -->
          <div class="col-sm-6 col-md-6 col-lg-3 blog-entry filter-chair">
              <div class="entry--img">
                  <a href="{{ post.get_absolute_url }}">
                      <img src="{{ post.thumbnail.url }}" alt="entry image">
                  </a>
              </div>
              <div class="entry--content">
                  <div class="entry--title">
                      <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                  </div>
                  <div class="entry--footer">
                      <div class="entry--more">
                          <a href="{{ post.get_absolute_url }}">خواندن </a>
                      </div>
                  </div>
                  <div class="entry--meta">
                    <span class="meta--author"><a href="#">{{ post.author.user.username }}</a></span>
                    <span class="meta--time">  {{ post.timestamp|timesince }}  پیش</span>
                </div>
              </div>
              <!-- .entry-content end -->
          </div>
          <!-- .blog-entry end -->
          {% endfor %}
      </div>
      <!-- .row end -->
      <div class="row clearfix">
          <div class="col-sm-12 col-md-12 col-lg-12 text-center">
              <a href="#" class="btn--more btn--more-1">مقاله های بیشتر  </a>
          </div>
          <!-- .col-lg-12 end -->
      </div>
      <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #blog end -->

{% endblock content %}