{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Blog single 
============================================= -->
<section id="blog-single" class="blog blog-single pt-0">
  <div class="container">
      <div class="row page-title">
          <div class="width">
              <div class="row">
                  <!-- .col-lg-12 end -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="title--meta entry--meta pt-30 text-right">
                          <span class="meta--author-img"><a href="#"><img class="meta--author-img" src="{{ post.author.profile_picture.url }}" alt="author img"></a></span>
                          <span class="meta--author"> توسط <a href="#">{{ post.author.user.username }}</a></span>
                          <div class="title--meta entry--meta text-right">
                            <span class="meta--time">{{ post.timestamp|timesince }} پیش </span>
                            <span class="meta--time"><i class="lnr lnr-eye" >{{ post.view_count }} </i></span>
                            <span class="meta--time"><i class="lnr lnr-bubble" >{{ post.comment_count }} </i></span>
                          </div>
                          <div class="entry--share">
                          <span class="share--title inline-block">اشتراک گذاری  : </span>
                          <a href="#"><i class="ti-instagram"></i></a>
                          <a href="#"><i class="ti-twitter"></i></a>
                          <a href="#"><i class="ti-pinterest"></i></a>
                          <a href="#"><i class="ti-dribbble"></i></a>
                      </div>
                      </div>
                  </div>
                  <div class="col-sm-12 col-sm-12 col-lg-12">
                    <div class="title title-2">
                        <div class="title--content">
                            <div class="title--heading">
                                <h1>{{ post.title }}</h1>
                            </div>
                        </div>
                    </div>
                    <!-- .title end -->
                </div>
              </div>
          </div>
      </div>
      <!-- .row end -->
      <div class="row">
          <div class="artical width mb-70">
              <div class="entry--img">
                  <div class="bg-section">
                      <img src="{{ post.thumbnail.url }}" alt="entry image" class="img-fluid">
                  </div>
              </div>
          </div>
          <!-- .col-lg-12 end -->
      </div>
      <!-- .row end -->
      <div class="row">
          <div class="width">
              <!-- Blog Entry -->
              <div class="blog-entry">
                  <div class="entry--bio">
                    {{ post.content | safe }}
                  </div>
                  <!-- .entry-bio end -->
                  
                  <div class="entry--tags">
                      <span class="tags--title">دسته بندی :</span>
                      {% for cat in post.categories.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}
                  </div>
                  
                  <!-- .entry-tags end -->
                  <div class="entry-widget entry-comments">
                      <div class="entry-widget-title">
                          <h4>نظرات <span>({{ post.comments.count }})</span></h4>
                      </div>
                      <div class="entry-widget-content">
                          <ul class="comments-list">
                            {% for comment in post.get_comments %}
                              <li class="comment-body">
                                  <div class="comment">
                                      <h6>{{ comment.user.username }}</h6>
                                      <div class="date">{{ comment.timestamp|timesince }} پیش</div>
                                      <p>{{ comment.content }}</p>
                                      <a class="reply" href="#">پاسخ</a>
                                  </div>
                              </li>
                              {% endfor %}
                          </ul>
                          <!-- .comments-list end -->
                      </div>
                  </div>
                  <!-- .entry-comments end -->

                 
                  <div class="entry-widget entry-add-comment mb-0 ">
                      <div class="entry-widget-title">
                          <h4>لطفا نظر دهید</h4>
                      </div>
                      {% if request.user.is_authenticated %}
                      <div class="entry-widget-content">
                          <form method="POST" action="." class="comments-form mb-0">
                            {% csrf_token %}
                              <div class="row">
                                  <div class="col-sm-12 col-md-6 col-lg-6">
                                      <input type="text" class="form-control" id="name" placeholder="نام">
                                  </div>
                                  <div class="col-sm-12 col-md-6 col-lg-6">
                                      <input type="email" class="form-control" id="email" placeholder="ایمیل">
                                  </div>
                                  <div class="col-sm-12 col-md-12 col-lg-12">
                                      <textarea class="form-control" id="comment" rows="2" placeholder="متن پیام شما "></textarea>
                                  </div>
                                  <div class="col-sm-12 col-md-12 col-lg-12">
                                      <button type="submit" class="btn btn--primary btn--rounded">ثبت<i class="lnr lnr-arrow-left"></i></button>
                                  </div>
                              </div>
                              <!-- .row end -->
                          </form>
                      </div>
                      <!-- .entry-widget-content end -->
                      {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-primary">ورود به حساب کاربری </a>
                {% endif %}
                  </div>
                  <!-- .entry-add-comment end -->
              </div>
              <!-- .blog-entry end -->
          </div>
          <!-- .col-lg-12 end -->
      </div>
      <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #blog single#2 end -->
{% endblock content %}


