{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="biotak">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="furniture">
    <link href="{% static 'assets\images\favicon\favicon.png' %}" rel="icon">


    <!-- Fonts
    ============================================= -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"> 
    <!-- Stylesheets
    ============================================= -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link href="{% static 'assets\css\external.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets\css\style.css' %}">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    {% block title %}
    <title>مبلمان محمودی</title>
    {% endblock title %}

</head>


<body>
    <div class="preloader">
        <div class="loader-eclipse">
            <div class="loader-content"></div>
        </div>
    </div>
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapperParallax" class="wrapper clearfix">


        {% include 'header.html' %}

        {% include 'messages.html' %}

        {% block content %}

        {% endblock content %}

        {% include 'footer.html' %}

        
    </div><!-- #wrapper end -->
      
    <!-- Footer Scripts
============================================= -->

    <script src="{% static 'assets\js\jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets\js\plugins.js' %}"></script>
    <script src="{% static 'assets\js\functions.js' %}"></script>

</body>

</html>