{% extends "base.html" %}
{% load humanize %}

{% block content %}
<!-- checkout
============================================= -->
<section id="checkout" class="shop shop-cart checkout pt-30">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="cart-shiping">
                  <div class="cart--shiping-text">
                      <h3>جزییات سفارش</h3>
                  </div>
                  <form method="POST">
                    {% csrf_token %}
                      <div class="row">
                          <!-- .col-lg-12 end -->
                          <div class="col-sm-12 col-md-6 col-lg-6">
                              <div class="form-group">
                                  <label for="frist_name">نام </label>
                                  <input type="text" class="form-control" id="frist_name" name="frist_name">
                              </div>
                          </div>
                          <!-- .col-lg-6 end -->
                          <div class="col-sm-12 col-md-6 col-lg-6">
                              <div class="form-group">
                                  <label for="last_name">نام خانوادگی</label>
                                  <input type="text" class="form-control" id="last_name" name="last_name">
                              </div>
                          </div>
                          <!-- .col-lg-6 end -->
                          <div class="col-sm-12 col-md-12 col-lg-12">
                              <div class="form-group">
                                  <label for="street_address">آدرس 1</label>
                                  <input type="text" class="form-control" id="street_address" name="street_address">
                              </div>
                          </div>
                          <!-- .col-lg-12 end -->
                          <div class="col-sm-12 col-md-12 col-lg-12">
                              <div class="form-group">
                                  <label for="apartment_address">آدرس 2 (اختیاری)</label>
                                  <input type="text" class="form-control" id="apartment_address" name="apartment_address">
                              </div>
                          </div>
                          <!-- .col-lg-12 end -->
                          <div class="col-sm-12 col-md-12 col-lg-12">
                              <div class="form-group">
                                  <label for="city">شهر</label>
                                  <input type="text" class="form-control" id="city" name="city"> 
                              </div>
                          </div>
                          <!-- .col-lg-6 end -->
                          <div class="col-sm-12 col-md-6 col-lg-6">
                              <div class="form-group">
                                  <label for="zip">کدپستی</label>
                                  <input type="text" class="form-control" id="zip" name="zip">
                              </div>
                          </div>
                          <!-- .col-lg-6 end -->
                          <div class="col-sm-12 col-md-6 col-lg-6">
                              <div class="form-group">
                                  <label for="phone">شماره موبایل</label>
                                  <input type="text" class="form-control" id="phone" name="phone">
                              </div>
                          </div>
                          <!-- .col-lg-12 end -->
                          <div class="col-sm-12 col-md-12 col-lg-12">
                              <div class="form-group">
                                  <label for="note">نکات سفارش (اختیاری) </label>
                                  <textarea id="note" name="note" class="form-control"></textarea>
                              </div>
                          </div>
                          <!-- .col-lg-12 end -->
                      </div><!-- .row end -->

              </div>
              <!-- .cart-shiping end -->
          </div>
          <!-- .col-lg-6 end -->
          <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-1">
              <div class="cart-total-amount">
                  <h4>سفارش شما</h4>
                  <div class="cart--products">
                      <h6>محصولات</h6>
                      <div class="clearfix"></div>
                      {% for order_item in order.items.all %}
                      <ul class="list-unstyled">
                          <li>{{ order_item.quantity }} عدد سفارش {{ order_item.item.title}}
                              <span class="price">{{ order_item.get_final_price|intcomma:False }} تومان</span>
                            </li>
                      </ul>
                      {% endfor %}
                  </div>
                  <div class="cart--total">
                      <div class="clearfix">
                          <h6>قیمت کل :  </h6>
                          <span class="price--total">{{ order.get_total|intcomma:False }} تومان </span>
                      </div>
                      <fieldset class="mb-30">
                        {% for value, name in form.fields.payment_option.choices %}
                          <div class="input-radio">
                              <label class="label-radio"  for="{{ name }}">{{ name }}
                                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" required>
                                  <span class="radio-indicator" ></span>
                              </label>
                          </div><!-- .input-radio end -->
                          {% endfor %}
                      </fieldset>
                      <button type="submit" class="btn btn--primary btn--rounded btn--block">ثبت سفارش</button>
              </div>
              <!-- .cart-total-amount end -->
          </div>
          <!-- .col-lg-5 end -->
        </form>
      </div>
      <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #checkout end -->


{% endblock content %}

