{% load static %}
{% load humanize %}

{% load cart_template_tags %}
<header id="navbar-spy" class="header  header-transparent">
    <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="nav-header">
            <a class="navbar-brand" href="#">
                <img class="logo " src="{% static 'assets/images/logo/logo.png' %}" alt="logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <!-- home Menu -->
                <li class="has-dropdown mega-dropdown active">
                    <a href="{% url 'core:home' %}" class="dropdown-toggle menu-item">صفحه اصلی</a>
                </li><!-- li end -->

                <!-- shop Menu -->
                <li class="has-dropdown">
                    <a href="#"  class="dropdown-toggle link-hover" data-hover="shop">فروشگاه</a>
                </li><!-- li end -->

                <!-- Pages Menu -->
                <li class="has-dropdown">
                    <a href="{% url 'blog:post-list' %}" class="dropdown-toggle link-hover" data-hover="pages">بیومگ</a>
                </li><!-- li end -->

                <!-- collection Menu -->
                <li class="has-dropdown mega-dropdown">
                    <a href="#"  class="dropdown-toggle menu-item">کلکسیون</a>
                </li><!-- li end -->

                <!-- Blog Menu-->
                <li class="has-dropdown">
                    <a href="#" class="dropdown-toggle menu-item">درباره ما</a>
                </li><!-- li end -->
            </ul>

        </div>
        <!-- /.navbar-collapse -->

        <!-- /.container -->
    </nav>
    <div class="module-container">
        <div class="module module-lang">
            <div class="module-icon">
                <a href="{% url 'accounts:log_in' %}"><i class="lnr lnr-user"></i></a>
            </div>

        </div>
        <!-- Module Cart -->
        <div class="module module-cart pull-left">
            <div class="module-icon cart-icon">
                <a href="{% url 'core:order-summary' %}"><i class="icon-bag"></i></a>
                <label class="module-label">{{ request.user|cart_item_count }}</label>
            </div>
        </div>
        <!-- .module-cart end -->
        <!-- Module Search -->
        <div class="module module-search pull-left">
            <div class="module-icon-search">
                <a data-toggle="modal" data-target="#search-popup"><i class="lnr lnr-magnifier"></i></a>
            </div>
        </div><!-- .module-search end -->
    </div>
</header>


<div class="modal fade search-popup modal-fullscreen" id="search-popup" tabindex="-1" role="dialog">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <div class="pos-vertical-center">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="heading mb-90">
                        <h2 class="heading--title">جستجو</h2>
                    </div>
                    <form class="form-inline form-search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="دنبال چی می گردی ؟">
                            <button type="button"><i class="lnr lnr-arrow-left"></i></button>
                        </div>
                    </form>
                    <!-- .form-search end -->
                    <h3>
                        کلید واژه ها: صندلی ، میز ، مبل ، لاوسیت</h3>
                </div>
            </div>
        </div>
        <!-- .modal-content end -->
    </div>
</div>