{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Main Area
============================================= -->
<main class="main">
    <!-- Slider
    ============================================= -->

    <div id="slider" class="container-fluid  ">
        <div class="site-slider">
            <div id="slider-owl" class="carousel  carousel-dots  owl-carousel  " data-slide="1" data-slide-rs="1"
                data-autoplay="true" data-nav="false" data-space="16" data-dots="true" data-loop="true" data-speed="1000">
                <div class="carousel-slider">
                    <img src="{% static 'assets\images\slider\bg\slider-1.jpg' %}" class="img-fluid" alt="Banner1">
                </div>
                <div class="carousel-slider">
                    <img src="{% static 'assets\images\slider\bg\slider-2.jpg' %}" class="img-fluid" alt="Banner1">
                </div>
                <div class="carousel-slider">
                    <img src="{% static 'assets\images\slider\bg\slider-3.jpg' %}" class="img-fluid" alt="Banner1">
                </div>
            </div>
        </div>
    </div>
    <!-- .container end -->
    <!-- #featured-collection end -->

    <!-- intor grid 
=========================================-->
    <section id="intor" class="blog blog-grid-2">
        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="heading heading-3 mb-100 mb-50-xs text-center">
                    <h2 class="heading--title">طراحی و ساخت مبلمان </h2>
                </div>
            </div>
            <div class="row">

                {% for product in intor  %}
                <!-- intor Entry #1 -->
                <div class="col-sm-6 col-md-6 col-lg-3 blog-entry filter-chair">
                    <div class="entry--img lox">
                        <a href="#">
                            <img src="{{ product.photo.url }}" alt="entry image" />
                        </a>
                    </div>
                    <div class="entry--content">
                        <div class="entry--title">
                            <h4><a href="#">{{ product.title }}</a></h4>
                        </div>
                        <div class="entry--footer">
                            <div class="entry--more">
                                <a href="tel:+210000000000">ثبت سفارش</a>
                            </div>
                        </div>
                    </div>
                    <!-- .entry-content end -->
                </div>
                <!-- .intor-entry end -->
                {% endfor %}

            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #intor end -->

    <!-- Featured Collection
============================================= -->
    <section id="featured-collection" class="featured-collection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="heading heading-3 mb-100 mb-50-xs text-center">
                        <h2 class="heading--title">نمونه کارهای ژورنالی </h2>
                    </div>
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="jornal" class="carousel owl-carousel carousel-dots  carousel-navs" data-slide="1"
                        data-slide-rs="1" data-autoplay="false" data-nav="true" data-dots="true" data-space="16"
                        data-loop="true" data-speed="1200">
                        <!-- .featured item #1 -->
                        <div class="featured--item">
                            <!-- .featured-item-text end -->
                            <div class="featured--item-img ">
                                <img src="{% static 'assets\images\featured-collection\Laosite Journal.jpg' %}"
                                    alt="img">
                            </div>
                            <!-- .featured-item-img end -->
                            <div class="featured--item-text">
                                <h3><a href="#">اجرای ژورنال لاوسیت </a></h3>
                                <div class="featured--item-desc">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می باشد.</p>
                                </div>
                            </div>

                            <!-- .featured-item-desc end -->
                        </div>
                        <!-- .featured-item end -->
                        <!-- .featured item #2 -->
                        <div class="featured--item">
                            <!-- .featured-item-text end -->
                            <div class="featured--item-img">
                                <img src="{% static 'assets\images\featured-collection\Console Journal.jpg' %}"
                                    alt="img">
                            </div>
                            <!-- .featured-item-img end -->
                            <div class="featured--item-text">
                                <h3><a href="#">مبلمان سفارشی با ژورنال</a></h3>
                                <div class="featured--item-desc">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می باشد.</p>
                                </div>
                            </div>
                            <!-- .featured-item-desc end -->
                        </div>
                        <!-- .featured-item end -->
                        <!-- .featured item #6 -->
                        <div class="featured--item">

                            <!-- .featured-item-text end -->
                            <div class="featured--item-img">
                                <img src="{% static 'assets\images\featured-collection\French furniture.jpg' %}"
                                    alt="img">
                            </div>
                            <!-- .featured-item-img end -->
                            <div class="featured--item-text">
                                <h3><a href="#">ساخت مبلمان با بهترین کیفیت</a></h3>
                                <div class="featured--item-desc">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می باشد.</p>
                                </div>
                            </div>
                            <!-- .featured-item-desc end -->
                        </div>
                        <!-- .featured-item end -->
                    </div>
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #featured-collection end -->
    <!-- products-carousel
============================================= -->
    <section id="products-carousel" class="products-carousel related-products">
        <div class="container-fluid pr-40 pl-40">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="heading text-center mb-50">
                        <h2 class="heading--title">محبوب ترین محصولات</h2>
                    </div>
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="carousel owl-carousel" data-slide="4" data-slide-rs="2" data-autoplay="true"
                        data-nav="false" data-dots="false" data-space="15" data-loop="true" data-speed="1200">

                        {% for item in object_list %}
                        <!-- Product item #1 -->
                        <div class="product-item">
                            <div class="product--img">
                                <a href="{{ item.get_absolute_url }}">
                                    <img src="{{ item.photo_main.url }} " alt="product" />
                                </a>
                                
                                {% if item.get_label_display %}
                                <span class="featured-item {{item.get_label_display}}-color">{{ item.get_label_display }}</span>
                                {% endif %}
                            </div>
                            <!-- .product-img end -->
                            <div class="product--content">
                                <div class="product--title">
                                    <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                </div>
                                <!-- .product-title end -->
                                <div class="product--price">
                                    <span>قیمت :
                                        <span>
                                            {% if item.discount_price %}
                                            {{ item.discount_price|intcomma:False }}
                                            {% else %}
                                            {{ item.price|intcomma:False }}
                                            {% endif %}
                                        </span>
                                        تومان
                                    </span>
                                </div>
                                <!-- .product-price end -->
                                <div class="product--hover">
                                    <div class="product--action">
                                        <a href="{{ item.get_add_to_cart_url}}"><i class="icon-bag"></i></a>
                                        <a data-toggle="modal" data-target="#product-popup"><i
                                                class="ti-search"></i></a>
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i
                                                class="ti-control-shuffle"></i></a>
                                    </div>
                                </div>
                                <!-- .product-hover end -->
                            </div>
                            <!-- .product-content end -->
                        </div>
                        <!-- .product-item end -->
                        {% endfor %}
                    </div>
                    <!-- .carousel end -->

                </div>
                <!-- .row end -->
            </div>
        </div>
        <!-- .container end -->
    </section>
    <!-- .related products end -->

    <!-- banner-img #3
============================================= -->
    <section id="banner-img" class="banner-img pt-0 pb-0">
        <div class="container-fluid pr-40 pl-40 pr-15-xs pl-15-xs">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="banner--img text-center">
                        <a href="#">
                            <img src="{% static 'assets\images\banner-img\3.jpg' %}" alt="banner-img" class="img-fluid">
                        </a>
                    </div>
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #banner-img end -->


    <!-- blog grid  
============================================= -->
    <section id="blog-grid" class="blog-grid pt-60-xs pb-60-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="heading text-center mb-60">
                        <h2 class="heading--title">وبلاگ</h2>
                    </div>
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
            <div class="row">
                {% for obj in latest %}
                <!-- Blog Entry #1 -->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="blog-entry">
                        <div class="entry--img">
                            <a href="{{ obj.get_absolute_url }}">
                                <img src="{{ obj.thumbnail.url }}" alt="entry image" />
                            </a>
                        </div>
                        <div class="entry--content">
                            <div class="entry--title">
                                <h4><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h4>
                                <p class="text-muted">{{ obj.overview|linebreaks|truncatechars:200 }}</p>
                            </div>
                            <div class="entry--footer">
                                <div class="entry--more">
                                    <a href="{{ obj.get_absolute_url }}">خواندن<i class="fa fa-long-arrow-left"></i></a>
                                    <span class="meta-time-poat">{{ obj.timestamp|timesince }} پیش </span>
                                </div>
                            </div>
                        </div>
                        <!-- .entry-content end -->
                    </div>
                </div>
                <!-- .blog-entry end -->
                {% endfor %}
            </div>
            <!-- .row end -->
            <div class="row clearfix">
          <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <a href="{% url 'blog:post-list' %}" class="btn--more btn--more-1">مقاله های بیشتر </a>
        </div>
        <!-- .col-lg-12 end -->
    </div>
    <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #blog-grid end -->



    <!-- Testimonial #1
============================================= -->
    <section id="testimonial1" class="testimonial testimonial-1 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 mr-0-xs">
                    <div class="carousel owl-carousel carousel-navs" data-slide="1" data-slide-rs="1"
                        data-autoplay="false" data-nav="true" data-dots="false" data-space="20" data-loop="true"
                        data-speed="800">
                        <!-- Testimonial panel #1 -->
                        <div class="testimonial-panel">
                            <div class="testimonial--meta-img">
                                <img src="{% static 'assets\images\testimonials\authors\2.jpg' %}" alt="author">
                            </div>
                            <!-- .testimonial-meta-img end -->
                            <div class="testimonial--body">
                                <p>“ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                                    می باشد. ”
                                </p>
                            </div>
                            <!-- .testimonial-body end -->
                            <div class="testimonial--meta">
                                <h4>سعید</h4>
                                <span>بیوتک</span>
                            </div>
                            <!-- .testimonial-meta end -->
                        </div>
                        <!-- .testimonial-panel end -->

                        <!-- Testimonial panel #2 -->
                        <div class="testimonial-panel">
                            <div class="testimonial--meta-img">
                                <img src="{% static 'assets\images\testimonials\authors\2.jpg' %}" alt="author">
                            </div>
                            <!-- .testimonial-meta-img end -->
                            <div class="testimonial--body">
                                <p>“ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                                    می باشد. ”
                                </p>
                            </div>
                            <!-- .testimonial-body end -->
                            <div class="testimonial--meta">
                                <h4>حسن</h4>
                                <span>طراح</span>
                            </div>
                            <!-- .testimonial-meta end -->
                        </div>
                        <!-- .testimonial-panel end -->
                    </div>
                </div>
                <!-- .col-lg-8 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #testimonial1 end -->

    <!-- products carousel #2
============================================= -->
    <section id="products-carousel2" class="products-carousel products-carousel-2 pb-0">
        <div class="container-fluid pr-0 pl-0">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="heading text-center mb-60">
                        <h2 class="heading--title">اینستاگرام</h2>
                    </div>
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="carousel owl-carousel pt-0 pb-0" data-slide="4" data-slide-rs="2" data-autoplay="true"
                        data-nav="true" data-dots="false" data-space="0" data-loop="true" data-speed="1200">

                        {% for insta in instagram  %}
                        <!-- product-item #1 -->
                        <div class="product-item m-sm">
                            <div class="product--img">
                                <img src="{{ insta.photo.url }}" alt="Portfolio Item">
                            </div>
                            <!-- .product-img end -->
                            <div class="product--hover">
                                <div class="product--action">
                                    <div class="product--action-content">
                                        <h3><a href="#">{{ insta.title }}</a></h3>
                                        <p>{{ insta.description }}</p>
                                        <a href="#" class="btn btn--underlined">محصولات بیشتر</a>
                                    </div>
                                </div>
                            </div>
                            <!-- .product-hover end -->
                        </div>
                        <!-- .product-item end -->
                        {% endfor %}

                    </div>
                    <!-- .carousel end -->
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #products-carousel2 end -->
</main>
<!-- #main area end -->
{% endblock content %}


