{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Shop Cart
============================================= -->
<section class="shop shop-cart">
    <div id="shopcart" class="container">
        <div class="row">
            <div class="col-lg">
                <div class="cart-table">
                    <table class="table">
                        <thead>
                            <tr class="cart-product">
                                <th class="cart-product-item">محصول</th>
                                <th class="cart-product-price">قیمت</th>
                                <th class="cart-product-quantity">تعداد</th>
                                <th class="cart-product-total">مجموع</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order_item in order.items.all %}
                            <!-- cart product #1 -->
                            <tr class="cart-product">
                                <td class="cart-product-item">
                                    <div class="cart-product-img">
                                        <img src="{{ order_item.item.photo_main.url }}" alt="product" />
                                    </div>
                                    <div class="cart-product-content">
                                        <div class="cart-product-name">
                                            <h6>{{ order_item.item.title }}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart-product-price">{{ order_item.item.price|intcomma:False }} تومان</td>
                                <td class="cart-product-quantity">
                                    <div class="product-quantity">
                                        <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><input
                                                class="minus" type="button" value="-"></a>
                                        <input type="text" id="pro1-qunt" value="{{ order_item.quantity }}" class="qty"
                                            readonly="">
                                        <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><input class="plus"
                                                type="button" value="+"></a>
                                    </div>
                                </td>
                                <td class="cart-product-total">
                                    <span>{% if order_item.item.discount_price %}
                                        {{ order_item.get_total_discount_item_price|intcomma:False }} تومان
                                        <span class="badge badge-primary">ذخیره
                                            {{ order_item.get_amount_saved|intcomma:False }} تومان</span>
                                        {% else %}
                                        {{ order_item.get_total_item_price|intcomma:False }} تومان
                                        {% endif %}</span>
                                    <a href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                                        <div class="cart-product-remove">x</div>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">سبد خرید شما خالی است .</td>
                            </tr>
                            <!-- .cart-product end -->
                            {% endfor %}

                            <!-- .cart-product end -->
                            <tr class="cart-product-action">
                                <td colspan="4">
                                    <div class="row clearfix">
                                        <div class="col-sm-12 col-md-12 col-lg-8">
                                            <form class="form-inline">
                                                <input type="text" class="form-control" id="coupon"
                                                    placeholder="کد تخفیف : ">
                                                <button type="submit" class="btn btn--secondary  btn--rounded">اعمال
                                                    تخفیف</button>
                                            </form>
                                        </div>
                                        <!-- .col-lg-6 end -->
                                        <div class="col-sm-12 col-md-12 col-lg-4 ">
                                            <a class="btn btn--secondary btn--bordered btn--rounded" href="/">به
                                                روزرسانی سبد</a>
                                        </div>
                                        <!-- .col-lg-6 end -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- .cart-table end -->
                <div class="cart-product-action">
                    <div class="cart-copoun">
                        <!-- .col-lg-6 end -->
                        <h2>مجموع کل سبد خرید</h2>
                        <table id="price-total" cellspacing="0" class="shop_table shop_table_responsive table ns-table">

                            <tbody>
                                <tr class="sub--total">
                                    <th> قیمت کل </th>
                                    <td data-title=" قیمت کل "><span class="Price-amount amount"><span
                                                class="Price-currencySymbol"></span>&nbsp; {{ order.get_total|intcomma:False }}
                                            تومان</span>
                                    </td>
                                </tr>

                                <tr class="total">
                                    <th>حمل و نقل : </th>
                                    <td data-title="حمل ونقل : ">
                                        <span class="Price-amount amount">
                                            <label for="al"> حمل و نقل معمولی : </label>
                                            <span class="Price-currencySymbol"></span>&nbsp;</span>
                                        <p class="woocommerce-shipping-destination">
                                            گزینه های حمل و نقل در هنگام پرداخت به روز می شوند. </p>
                                    </td>
                                </tr>

                                <tr class="order-total">
                                    <th>مجموع</th>
                                    <td data-title="مجموع"><strong><span class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol"></span>&nbsp;{{ order.get_total|intcomma:False }}
                                                تومان</span></strong>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="proceed-to-checkout">
                            <a class="btn btn--primary btn--rounded " href="/checkout/">اقدام به پرداخت</a>
                        </div>
                        <!-- .checkout-panel end -->
                    </div>
                </div>

            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #shopcart end -->

{% endblock content %}