{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- product detalis #5
============================================= -->
<div class="container">
  <div id="location">
    <ol class="breadcrumb">
      <li><a href="index-2.html">صفحه اصلی</a></li>
      <li><a href="index-2.html">محصولات</a></li>
      <li class="active">{{ object.get_category_display }}</li>
    </ol>
  </div>
</div>
<section id="product-detalis8" class="product-detalis bg-lightBlue product-detalis-5 product-detalis-8">
  <div class="container-fluid">
    <div class="row">
      <div id="image-gallery" class="col-sm-12 col-md-12 col-lg-6">
        <div class="carousel owl-carousel carousel-dots product-carousel carousel-navs" data-slide="1" data-slide-rs="1"
          data-autoplay="true" data-nav="true" data-dots="true" data-space="0" data-loop="true" data-speed="800">
          {% if object.photo_main %}
          <div class="product--img-item">
            <img src="{{ object.photo_main.url }}" alt="product" />
          </div>
          {% endif %}

          {% if object.photo_1 %}
          <div class="product--img-item">
            <img src="{{ object.photo_1.url }}" alt="product" />
          </div>
          {% endif %}
            
          {% if object.photo_2 %}
          <div class="product--img-item">
            <img src="{{ object.photo_2.url }}" alt="product" />
          </div>
          {% endif %}

          {% if object.photo_3 %}
          <div class="product--img-item">
            <img src="{{ object.photo_3.url }}" alt="product" />
          </div>
          {% endif %}
        </div>
        <!-- .carousel end -->
      </div>
      <!-- .col-lg-6 end -->
      <div class="product-proprty col-sm-12 col-md-12 col-lg-6">
        <div class="product-detail product--title">
          <h3>{{ object.title }}</h3>
        </div>
        <!-- .product-title end -->
        <div class="product--review">بررسی مشتری</div>
        <div class="product--rating">
          <i class="lnr lnr-star active"></i>
          <i class="lnr lnr-star active"></i>
          <i class="lnr lnr-star active"></i>
          <i class="lnr lnr-star"></i>
          <i class="lnr lnr-star"></i>
        </div>
        <div class="product--desc-tabs tabs">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li><a href="#product--desc-tabs-1" role="tab" data-toggle="tab" class="active">توضیحات</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="product--desc-tabs-1">
              <div class="product--desc-image">
                <p>{{ object.description }}</p>
              </div>
            </div>
          </div>
          <!-- #tab-content end -->
        </div>
        <!--- .product-review end -->
        <div class="product--price">
          <h3>قیمت محصول :
            {% if object.discount_price %}
            {{ object.discount_price|intcomma:False }} تومان
            {% else %}
            {{ object.price|intcomma:False }} تومان
            {% endif %}
          </h3>


        </div>
        <!-- .product-price end -->
        <!-- .product-desc-tabs end -->
        <div class="product--meta">
          <div class="product--meta-action mb-0">
            <div class="select-order">
              <div class="product-quantity">
                <input class="minus" type="button" value="-">
                <input type="text" id="pro1-qunt" value="1" class="qty" readonly="">
                <input class="plus" type="button" value="+">
              </div>
            </div>
            <a href="{{ item.get_add_to_cart_url}}" class="btn btn--primary btn--rounded">افزودن به سبد خرید</a>
            <a href="#" class="fav"><i class="ti-heart"></i></a>
            <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i
                class="ti-control-shuffle"></i></a>
          </div>
        </div>
      </div>
      <!-- .col-lg-6 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- .product detalis end -->

<!-- product detalis
============================================= -->
<section id="product-detalis2" class="product-detalis product-detalis-2 product-detalis-4 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="product--share text--center mb-100 mb-50-xs mb-50-sm">
          <span class="share--title">اشتراک گذاری</span>
          <a href="#" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="40px" height="40px"><linearGradient id="ikFC25QA3Mb2fWnkGP9OWa" x1="32" x2="32" y1="13.75" y2="55.668" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#6dc7ff"/><stop offset="1" stop-color="#e6abff"/></linearGradient><path fill="url(#ikFC25QA3Mb2fWnkGP9OWa)" d="M22.89,55.28c-0.22-1.98-0.42-5.01,0.09-7.17c0.45-1.95,2.93-12.43,2.93-12.43 s-0.75-1.5-0.75-3.71c0-3.48,2.01-6.07,4.52-6.07c2.14,0,3.17,1.6,3.17,3.52c0,2.15-1.37,5.35-2.07,8.32 c-0.59,2.49,1.24,4.52,3.7,4.52c4.44,0,7.86-4.68,7.86-11.45c0-5.98-4.3-10.17-10.45-10.17c-7.11,0-11.28,5.34-11.28,10.85 c0,2.15,0.82,4.45,1.86,5.71c0.2,0.24,0.23,0.46,0.17,0.71c-0.19,0.79-0.61,2.49-0.69,2.84c-0.11,0.46-0.37,0.55-0.84,0.33 c-3.12-1.45-5.08-6.01-5.08-9.68c0-7.89,5.73-15.13,16.52-15.13c8.68,0,15.42,6.18,15.42,14.44c0,8.61-5.44,15.55-12.98,15.55 c-2.53,0-4.91-1.32-5.73-2.87c0,0-1.25,4.77-1.55,5.94c-0.57,2.17-2.09,4.89-3.11,6.56"/><linearGradient id="ikFC25QA3Mb2fWnkGP9OWb" x1="32" x2="32" y1="3.25" y2="60.02" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#1a6dff"/><stop offset="1" stop-color="#c822ff"/></linearGradient><path fill="url(#ikFC25QA3Mb2fWnkGP9OWb)" d="M32,58C17.664,58,6,46.337,6,32S17.664,6,32,6s26,11.663,26,26S46.336,58,32,58z M32,8 C18.767,8,8,18.767,8,32s10.767,24,24,24s24-10.767,24-24S45.233,8,32,8z"/></svg></a>
          <a href="#" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="40px" height="40px"><linearGradient id="7sJyQCZzdsESd~lp6E9tqa" x1="32" x2="32" y1="16.25" y2="48.312" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#6dc7ff"/><stop offset="1" stop-color="#e6abff"/></linearGradient><path fill="url(#7sJyQCZzdsESd~lp6E9tqa)" d="M26.064,45.003c12.076,0,18.68-10.005,18.68-18.68c0-0.284-0.006-0.567-0.019-0.849 c1.282-0.927,2.396-2.083,3.275-3.399c-1.176,0.523-2.442,0.875-3.77,1.034c1.355-0.813,2.396-2.099,2.887-3.632 c-1.269,0.752-2.673,1.299-4.169,1.594c-1.198-1.276-2.904-2.074-4.792-2.074c-3.626,0-6.566,2.94-6.566,6.565 c0,0.515,0.058,1.016,0.17,1.497c-5.456-0.274-10.295-2.887-13.532-6.859c-0.564,0.97-0.889,2.097-0.889,3.3 c0,2.278,1.159,4.289,2.922,5.465c-1.077-0.033-2.089-0.329-2.974-0.821c-0.001,0.027-0.001,0.055-0.001,0.084 c0,3.18,2.263,5.834,5.267,6.436c-0.551,0.15-1.132,0.231-1.731,0.231c-0.423,0-0.834-0.042-1.234-0.118 c0.836,2.608,3.259,4.506,6.133,4.56c-2.247,1.761-5.078,2.81-8.154,2.81c-0.53,0-1.052-0.03-1.566-0.091 C18.906,43.916,22.356,45.003,26.064,45.003"/><linearGradient id="7sJyQCZzdsESd~lp6E9tqb" x1="32" x2="32" y1="5.25" y2="59.38" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#1a6dff"/><stop offset="1" stop-color="#c822ff"/></linearGradient><path fill="url(#7sJyQCZzdsESd~lp6E9tqb)" d="M32,58C17.663,58,6,46.337,6,32S17.663,6,32,6s26,11.663,26,26S46.337,58,32,58z M32,8 C18.767,8,8,18.767,8,32s10.767,24,24,24s24-10.767,24-24S45.233,8,32,8z"/></svg></a>
          <a href="#" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="40px" height="40px"><linearGradient id="VtgpHyLpOmfDwWf024j9Pa" x1="26.023" x2="26.023" y1="19.667" y2="43.002" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#6dc7ff"/><stop offset="1" stop-color="#e6abff"/></linearGradient><path fill="url(#VtgpHyLpOmfDwWf024j9Pa)" fill-rule="evenodd" d="M35.925,30c0.68,5-1.371,12.17-9.761,12.17 C20.55,42.17,16,37.616,16,32.003c0-5.613,4.55-10.165,10.164-10.165c2.634,0,5.034,1.001,6.839,2.645 c-2.127,2.009-2.057,2.127-2.893,2.963c-1.044-0.864-2.183-1.484-3.946-1.484c-3.335,0-5.937,2.703-5.937,6.038 c0,3.335,2.603,6.038,5.937,6.038c3.295,0,4.552-1.421,5.413-4.03c-1.59,0-5.576,0.005-5.576,0.005V30C26,30,33.938,30,35.925,30z" clip-rule="evenodd"/><linearGradient id="VtgpHyLpOmfDwWf024j9Pb" x1="32" x2="32" y1="4.667" y2="59.169" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#1a6dff"/><stop offset="1" stop-color="#c822ff"/></linearGradient><path fill="url(#VtgpHyLpOmfDwWf024j9Pb)" d="M32,58C17.663,58,6,46.337,6,32S17.663,6,32,6s26,11.663,26,26S46.337,58,32,58z M32,8 C18.767,8,8,18.767,8,32s10.767,24,24,24s24-10.767,24-24S45.233,8,32,8z"/><linearGradient id="VtgpHyLpOmfDwWf024j9Pc" x1="43.5" x2="43.5" y1="25.333" y2="37.375" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#6dc7ff"/><stop offset="1" stop-color="#e6abff"/></linearGradient><path fill="url(#VtgpHyLpOmfDwWf024j9Pc)" fill-rule="evenodd" d="M48 30L45 30 45 27 42 27 42 30 39 30 39 33 42 33 42 36 45 36 45 33 48 33z" clip-rule="evenodd"/></svg></a>
          <a href="#" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="40px" height="40px"><linearGradient id="jm_nAfYbxsVmTlYr5N4x9a" x1="32" x2="32" y1="6.667" y2="57.872" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#1a6dff"/><stop offset="1" stop-color="#c822ff"/></linearGradient><path fill="url(#jm_nAfYbxsVmTlYr5N4x9a)" d="M44,57H20c-7.168,0-13-5.832-13-13V20c0-7.168,5.832-13,13-13h24c7.168,0,13,5.832,13,13v24 C57,51.168,51.168,57,44,57z M20,9C13.935,9,9,13.935,9,20v24c0,6.065,4.935,11,11,11h24c6.065,0,11-4.935,11-11V20 c0-6.065-4.935-11-11-11H20z"/><linearGradient id="jm_nAfYbxsVmTlYr5N4x9b" x1="32" x2="32" y1="18.167" y2="45.679" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#6dc7ff"/><stop offset="1" stop-color="#e6abff"/></linearGradient><path fill="url(#jm_nAfYbxsVmTlYr5N4x9b)" d="M32,45c-7.168,0-13-5.832-13-13c0-7.168,5.832-13,13-13c7.168,0,13,5.832,13,13 C45,39.168,39.168,45,32,45z M32,23c-4.962,0-9,4.038-9,9c0,4.963,4.038,9,9,9c4.963,0,9-4.037,9-9C41,27.038,36.963,23,32,23z"/><linearGradient id="jm_nAfYbxsVmTlYr5N4x9c" x1="46" x2="46" y1="12.75" y2="23.049" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#6dc7ff"/><stop offset="1" stop-color="#e6abff"/></linearGradient><path fill="url(#jm_nAfYbxsVmTlYr5N4x9c)" d="M46 15A3 3 0 1 0 46 21A3 3 0 1 0 46 15Z"/></svg></a>
        </div>
        <!-- .product-share end -->
        <div class="product--tabs tabs">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li><a href="#description" aria-controls="description" role="tab" data-toggle="tab" class="active">نقد و
                بررسی</a></li>
            <li><a href="#addtional-info" aria-controls="addtional-info" role="tab" data-toggle="tab">مشخصات</a></li>
            <li><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">نظرات کاربران</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="description">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="product--desc">
                    <p>{{ object.review }}</p>
                  </div>
                </div>
              </div>
              <!-- .row end -->
            </div>
            <!-- #description end -->
            <div role="tabpanel" class="tab-pane fade" id="addtional-info">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="product--desc">
                    <h3>مشخصاتی دردسترس نیست </h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- #details end -->
            <div role="tabpanel" class="tab-pane fade" id="reviews">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <ul class="product--review-comments list-unstyled">
                    <li class="review--comment">
                     <h3>هیچ دیدگاهی وجود ندارد</h3>
                    </li>
                  </ul>
                  <div class="form--review-rating ">
                    <h5>افزودن دیدگاه جدید</h5>
                    <div class="form--review-rating-content">
                      <span>امتیاز شما</span>
                      <div class="product--rating">
                        <a href="#"><i class="lnr lnr-star"></i></a>
                      </div>
                      <div class="product--rating">
                        <a href="#">
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                        </a>
                      </div>
                      <div class="product--rating">
                        <a href="#">
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                        </a>
                      </div>
                      <div class="product--rating">
                        <a href="#">
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                        </a>
                      </div>
                      <div class="product--rating">
                        <i class="lnr lnr-star active"></i>
                        <i class="lnr lnr-star active"></i>
                        <i class="lnr lnr-star active"></i>
                        <i class="lnr lnr-star active"></i>
                        <i class="lnr lnr-star active"></i>
                      </div>
                    </div>
                  </div>
                  <div class="form--review">
                    <form>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <input type="text" class="form-control" id="name" placeholder="نام خود را بنویسد" />
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <input type="email" class="form-control" id="email" placeholder="ایمیل شما" />
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                          <textarea class="form-control" id="review" rows="2" placeholder="متن دیدگاه"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 text--center">
                          <button type="submit" class="btn btn--primary btn--rounded"><i
                              class="lnr lnr-arrow-left"></i>ثبت دیدگاه</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- .col-lg-8 end -->
              </div>
              <!-- .row end -->
            </div>
            <!-- #reviews end -->
          </div>
          <!-- #tab-content end -->
        </div>
        <!-- .product-tabs end -->
      </div>
      <!-- .col-lg-12 end -->
    </div>
    <!-- .row end -->

  </div>
  <!-- .container end -->
</section>
<!-- .product detalis end -->

<!-- products carousel
============================================= -->
<section id="products-carousel" class="products-carousel related-products pt-0 pb-80">
  <div class="container-fluid pr-40 pl-40">
    <hr class="mb-80">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="heading text-center mb-50">
          <h2 class="heading--title">جدید ترین محصولات</h2>
        </div>
      </div>
      <!-- .col-lg-12 end -->
    </div>
    <!-- .row end -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="carousel owl-carousel " data-slide="4" data-slide-rs="2" data-autoplay="true" data-nav="false"
          data-dots="true" data-space="15" data-loop="true" data-speed="800">

          {% for items in product %}
          <!-- Product item #1 -->
          <div class="product-item">
            <div class="product--img">
              <a href="{{ items.get_absolute_url }}">
                <img src="{{ items.photo_main.url }} " alt="product" />
              </a>
              {% if items.get_label_display %}
              <span class="featured-item  {{item.get_label_display}}-color">{{ items.get_label_display }}</span>
              {% endif %}
            </div>
            <!-- .product-img end -->
            <div class="product--content">
              <div class="product--title">
                <h3><a href="#">{{ items.title }}</a></h3>
              </div>
              <!-- .product-title end -->
              <div class="product--price">
                <span>قیمت :
                  <span>
                      {% if items.discount_price %}
                      {{ items.discount_price|intcomma:False }} 
                      {% else %}
                      {{ items.price|intcomma:False }}
                      {% endif %}
                  </span>
                  تومان 
              </span> 
              </div>
              <!-- .product-price end -->
              <div class="product--hover">
                <div class="product--action">
                  <a href="{{ item.get_add_to_cart_url}}"><i class="icon-bag"></i></a>
                  <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                  <a href="#"><i class="ti-heart"></i></a>
                  <a data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                </div>
              </div>
              <!-- .product-hover end -->
            </div>
            <!-- .product-content end -->
          </div>
          <!-- .product-item end -->
          {% endfor %}
        </div>
        <!-- .carousel end -->

      </div>
      <!-- .row end -->
    </div>
  </div>
  <!-- .container end -->
</section>
<!-- #products carousel end -->
{% endblock content %}